@tailwind base;
@tailwind components;
@tailwind utilities;

*, 
body {
  margin: 0;
  padding: 0;
  background-color: #343541;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 640px) {
  .send-button {
    /* display: block; */
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 2px;
  }
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
}